<!-- BEGIN: Left Aside -->
<!-- BEGIN: Left Aside -->

<div class="m-content">
    <div class="row">
        <div class="m-portlet" style="width:100%">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Project Lifecycle
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-12" style="padding: 3% 6% 0 6%;" *ngIf="!projectTable">
                <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
            </div>
            <div class="col-xl-12" *ngIf="activeQuotes.length" [hidden]="!projectTable">
                <br>
                <br>
                <div class="m-grid__item m-grid__item--fluid m-wrapper quotes">
                    <p-dataTable [value]="activeQuotes" selectionMode="single" [(selection)]="selectedQuote" (onRowDblclick)="onRowDblclick()">
                        <p-header>List of Projects</p-header>
                        <p-column field="name" header="Project Name"></p-column>
                        <p-column field="date" header="Start Date">
                            <ng-template let-col let-project="rowData" pTemplate="body">
                                <span>{{project.date | date:'dd/MM/yyyy'}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="outcome" header="Quote Status">
                            <ng-template let-col let-quote="rowData" pTemplate="body">
                                <span class="m-badge m-badge--wide {{quote.outcome}}">{{quote.outcome}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="projectStatus" header="Project Status">
                            <ng-template let-col let-quote="rowData" pTemplate="body">
                                <span class="m-badge m-badge--wide {{quote.projectStatus}}">{{quote.projectStatus}}</span>
                            </ng-template>
                        </p-column>
                        <p-column header="">
                            <ng-template let-col let-quote="rowData" pTemplate="body">
                                <span style="overflow: visible; width: 110px;">
                                    <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details"
                                        (click)="onRowDblclick(quote)">
                                        <i class="la la-edit"></i>
                                    </a>
                                    <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">
                                        <i class="la la-trash"></i>
                                    </a>
                                </span>
                            </ng-template>
                        </p-column>

                    </p-dataTable>
                </div>
            </div>
            <div class="col-xl-12" [hidden]="!step1_projectform">
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" name="project_form">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">

                            <div class="form-group m-form__group col-lg-4">
                                <label>
                                    Name
                                </label>

                                <input aria-describedby="no" class="form-control m-input" name="name" [disabled]="isComplete" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedProject.name" id="name" type="text">
                            </div>
                            <div class="form-group m-form__group col-lg-4">
                                <label>
                                    Quote Date
                                </label>

                                <input aria-describedby="no" class="form-control m-input" name="date" [disabled]="isComplete" [ngModelOptions]="{standalone: true}"
                                    [ngModel]="selectedProject.quote_date | date:'yyyy-MM-dd'" (ngModelChange)="selectedProject.quote_date = $event"
                                    id="name" type="date">
                            </div>
                            <div class="form-group m-form__group col-lg-12">
                                <label>
                                    Scope
                                </label>

                                <p-editor [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.scopeDetail" [style]="{'height':'200px'}"></p-editor>
                            </div>

                            <div class="form-group m-form__group col-lg-12">
                                <b>
                                    Sight Address
                                </b>

                                <div class="col-lg-12 form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label>
                                            Address Line 1:
                                        </label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input class="form-control m-input" name="name" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.address.address1"
                                                id="name" type="text">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                <span>
                                                    <i class="la la-map-marker"></i>
                                                </span>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">
                                            Address Line 2
                                        </label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input class="form-control m-input" name="name" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.address.address2"
                                                id="name" type="text">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                <span>
                                                    <i class="la la-map-marker"></i>
                                                </span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-12 form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label>
                                            City:
                                        </label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input class="form-control m-input" name="name" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.address.city"
                                                id="name" type="text">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                <span>
                                                    <i class="la la-map-marker"></i>
                                                </span>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">
                                            State / Province / Region:
                                        </label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input class="form-control m-input" name="name" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.address.state"
                                                id="name" type="text">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                <span>
                                                    <i class="la la-map-marker"></i>
                                                </span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-12 form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label>
                                            Zip / Postal Code:
                                        </label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input class="form-control m-input" name="name" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.address.zip"
                                                id="name" type="text">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                <span>
                                                    <i class="la la-map-marker"></i>
                                                </span>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">
                                            Country:
                                        </label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input class="form-control m-input" name="name" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.address.country"
                                                id="name" type="text">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                <span>
                                                    <i class="la la-map-marker"></i>
                                                </span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group col-lg-4">
                                <label>
                                    Sight Type
                                </label>

                                <select class="custom-select form-control" name="stau" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.sightType">
                                    <option value="self">
                                        Self
                                    </option>
                                    <option value="subcontract">
                                        Subcontract
                                    </option>
                                </select>
                            </div>
                            <div class="form-group m-form__group col-lg-4" [hidden]="!(selectedProject.sightType == 'Subcontract')">
                                <label>
                                    Subcontract Name
                                </label>

                                <input class="form-control m-input" name="name" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.subcontractor"
                                    id="name" type="text">
                            </div>
                            <div class="form-group m-form__group col-lg-4">
                                <label>
                                    Employee Type
                                </label>

                                <select class="custom-select form-control" name="stau" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.employeeType">
                                    <option value="self">
                                        Self
                                    </option>
                                    <option value="subcontract">
                                        Subcontract
                                    </option>
                                </select>
                            </div>
                            <div class="form-group m-form__group col-lg-4">
                                <label>
                                    Employee Name
                                </label>
                                <br>
                                <p-multiSelect [options]="employeeList"></p-multiSelect>
                            </div>
                            <div class="form-group m-form__group col-lg-4">
                                <label>
                                    Project Cost:
                                </label>

                                <b>{{selectedProject.cost|currency}}</b>
                            </div>
                            <div class="form-group m-form__group col-lg-4">
                                <label>
                                    Project Manager
                                </label>
                                <br>
                                <p-multiSelect [options]="employeeList"></p-multiSelect>
                            </div>
                            <div class="form-group m-form__group col-lg-4">
                                <label>
                                    Start Date
                                </label>
                                <input aria-describedby="no" class="form-control m-input" name="pdate" [disabled]="isComplete" [ngModelOptions]="{standalone: true}"
                                    [ngModel]="selectedProject.startDate | date:'yyyy-MM-dd'" (ngModelChange)="selectedProject.startDate = $event"
                                    id="pname" type="date">

                            </div>

                            <!-- <div class="form-group m-form__group col-lg-12">
                                <label>
                                    Comments
                                </label>
                                
                                <textarea class="form-control m-input" cols="30" rows="3" name="comment" [disabled]="isComplete" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProject.comment"></textarea>

                            </div> -->
                            <br>
                            <div class="m-portlet__foot m-portlet__foot--fit col-lg-12">
                                <div class="m-form__actions">
                                    <a class="btn btn-success m-btn m-btn--custom m-btn--icon" href="#" (click)="submit()">
                                        <span>
                                            <span>
                                                Submit
                                            </span>

                                        </span>
                                    </a>
                                    <a class="btn btn-danger m-btn m-btn--custom m-btn--icon " href="#" (click)="cancel()">
                                        <span>
                                            <span>
                                                Cancel
                                            </span>
                                        </span>
                                    </a>
                                    <a class="btn btn-warning m-btn m-btn--custom m-btn--icon pull-right" href="#" (click)="next(1)">
                                        <span>
                                            <span>
                                                Save &amp; Continue
                                            </span>
                                            &nbsp;&nbsp;
                                            <i class="la la-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-xl-12" [hidden]="!step2_jobprestart">
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" name="project_form">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">

                            <div class="form-group m-form__group col-lg-10">
                                <label>
                                    SWMS
                                </label>

                                <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" multiple="multiple" accept="application/pdf,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/msword">
                                    <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{file.name}}</li>
                                        </ul>
                                    </ng-template>
                                </p-fileUpload>
                            </div>
                            <div class="form-group m-form__group col-lg-10">
                                <label>
                                    SDS
                                </label>

                                <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" multiple="multiple" accept="application/pdf,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/msword">
                                    <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{file.name}}</li>
                                        </ul>
                                    </ng-template>
                                </p-fileUpload>
                            </div>
                            <div class="form-group m-form__group col-lg-10">
                                <label>
                                    DRAWING
                                </label>

                                <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" multiple="multiple" accept="application/pdf,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/msword">
                                    <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{file.name}}</li>
                                        </ul>
                                    </ng-template>
                                </p-fileUpload>
                            </div>
                            <div class="form-group m-form__group col-lg-10">
                                <label>
                                    FINISHES
                                </label>

                                <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" multiple="multiple" accept="application/pdf,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/msword">
                                    <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{file.name}}</li>
                                        </ul>
                                    </ng-template>
                                </p-fileUpload>
                            </div>
                            <div class="form-group m-form__group col-lg-10">
                                <label>
                                    RISK ASSESMENT
                                </label>

                                <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" multiple="multiple" accept="application/pdf,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/msword">
                                    <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{file.name}}</li>
                                        </ul>
                                    </ng-template>
                                </p-fileUpload>
                            </div>


                            <div class="m-portlet__foot m-portlet__foot--fit col-lg-12">
                                <div class="m-form__actions">

                                    <a class="btn btn-danger m-btn m-btn--custom m-btn--icon" href="#" (click)="cancel()">
                                        <span>
                                            <span>
                                                Cancel
                                            </span>

                                        </span>
                                    </a>
                                    <a class="btn btn-warning m-btn m-btn--custom m-btn--icon pull-right" href="#" (click)="next(2)">
                                        <span>
                                            <span>
                                                Save &amp; Continue
                                            </span>
                                            &nbsp;&nbsp;
                                            <i class="la la-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-xl-12" [hidden]="!step3_budget">
                <div class="m-portlet__body">
                    <div class="m-section">

                        <div class="m-section__content">
                            <strong>Budget</strong>
                            <a class="pull-right btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill" href="#" (click)="addBudget()"
                                style="margin-bottom: 2%;
                            ">
                                <i class="la la-plus"></i>
                            </a>
                            <div class="table-responsive">
                                <table class="table m-table  m-table--head-bg-success">
                                    <thead>
                                        <tr>

                                            <th>
                                                Location Code
                                            </th>
                                            <th>
                                                Location
                                            </th>
                                            <th>
                                                SQMHR
                                            </th>
                                            <th>
                                                Rate
                                            </th>
                                            <th>
                                                Material
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                Percentage %
                                            </th>
                                            <th>
                                                Total Outlay
                                            </th>
                                            <th>
                                                Expected Profit
                                            </th>
                                            <th>
                                                SQMHR
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of budgetList">
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>
                                            <td>
                                                <input class="form-control m-input" type="text">
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="m-section__content">
                            <div class="col-xl-9">
<strong>Actual</strong><br><br>
                                
                                <div class="table-responsive">
                                    <table class="table m-table  m-table--head-bg-success table-sm">
                                        <thead>
                                            <tr>

                                                <th>
                                                    Code
                                                </th>
                                                <th>
                                                    Location
                                                </th>
                                                <th>
                                                    Price of the Project
                                                </th>
                                                <th>
                                                    Cost to Company
                                                </th>
                                                <th>
                                                    Net Profit
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody *ngIf="selectedQuote">
                                            <tr *ngFor="let c of selectedQuote.cost">
                                                <td>
                                                    <input class="form-control m-input" type="text">
                                                </td>
                                                <td>
                                                    <input class="form-control m-input" type="text">
                                                </td>
                                                <td>
                                                    <input class="form-control m-input" [ngModel]="c.cost" type="text">
                                                </td>
                                                <td>
                                                    <input class="form-control m-input" type="text">
                                                </td>
                                                <td>
                                                    <input class="form-control m-input" type="text">
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>